<html>
    <head>
        <style>
        {{styleContent}}
        </style>
    </head>
    <body>
        <table border="0">
            <thead>
                <tr>
                    <td>{{header|raw}}</td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td>{{content|raw}}</td>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td>{{footer|raw}}</td>
                </tr>
            </thead>
        </table>
    </body>
</html>